<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% extends "base.html" %}

    {% block titulo %}
    <title>Productos</title>
    {% endblock titulo %}


  </head>
  <body>
    {% block subtitle %}
    {% endblock subtitle %}


    {% block contenidoBase %}

    <ul>
      {%for product in products %}
      <li>
        <a href="#" class="relative block rounded-tr-3xl border border-gray-100">
          <span
            class="absolute -right-px -top-px rounded-bl-3xl rounded-tr-3xl bg-rose-600 px-6 py-4 font-medium uppercase tracking-widest text-white"
          >$
          {{product.price}}
          </span>

          {% if product.photo %}
          <img
          src="{{ product.photo.url }}" alt="{{product.name}}"
          class="h-80 w-full rounded-tr-3xl object-cover"
        />
        {% endif %}

          <div class="p-4 text-center">
            <strong class="text-xl font-medium text-gray-900"> {{product.name}} </strong>

            <p class="mt-2 text-pretty text-gray-700">
              {{product.description}}
            </p>

            <span
              class="mt-4 block rounded-md border border-indigo-900 bg-indigo-900 px-5 py-3 text-sm font-medium uppercase tracking-widest text-white transition-colors hover:bg-white hover:text-indigo-900"
            >
              Add to shop
            </span>
          </div>
        </a>

      </li>
      {% endfor %}
    </ul>

    {% endblock contenidoBase %}

    {% comment %}

     {% block contenidoBase %}
     <ul>
       {%for product in products %}
       <li>

         <p>{{product.name}}</p>
         <p>{{product.price}} $</p>

         {% if product.photo %}
         <img src="{{ product.photo.url }}" alt="{{product.name}}" style="max-height: 100px;"/>
         {% endif %}
       </li>
       {% endfor %}
     </ul>

     {% endblock contenidoBase %}

    {% endcomment %}




  </body>
</html>
