<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block titulo %}
  <title></title>
  {% endblock titulo %}
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
  <header class="bg-orange-50">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8" style="margin-bottom: 25px;">
        <div class="flex items-center justify-between">

            <!-- Saludo en el margen izquierdo -->
            {% if user.is_authenticated %}
            <div class="flex items-center">
                <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl">Hello {{ user.username }}</h2>
            </div>
            {% endif %}

            <!-- Título centrado -->
            <div class="flex-grow text-center">
                <h1 class="text-3xl font-bold text-gray-900">Coffee Shop</h1>
            </div>

            <!-- Botones en el margen derecho -->
            <div class="flex items-center gap-4">
                {% if user.is_authenticated %}
                <!-- Botón "Mi pedido" -->
                <form action="#" method="post">
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Mi pedido
                        </span>
                    </button>
                </form>

                <!-- Botón "Cerrar Sesión" -->
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button
                        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800"
                        type="submit">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Cerrar Sesión
                        </span>
                    </button>
                </form>
                {% else %}
                <!-- Botón "Mi pedido" -->
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Mi pedido
                    </span>
                </button>

                <!-- Botón "Iniciar Sesión" -->
                <a class="relative inline-flex items-center justify-center p-0.5 mb-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800"
                    href="{% url 'login' %}">
                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Iniciar Sesión
                    </span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>




  <div class="container mx-auto px-4" >
    {% block contenidoBase %}

    {% endblock contenidoBase %}
  </div>


</body>
</html>
